@font-face {
    font-family: ubuntu;
    src: url("/source/fonts/plexsans-reg.ttf");
    font-display: swap;
}


:root {
    --brand-blue: #0277bd;
    --darker-blue: #004c8c;
    --lighter-blue: #58a5f0;
    --brand-gray: #263238;
    --darker-gray: #000a12;
    --lighter-gray: #4f5b62;
    --background-blue: #0f3460;
}
a {
    color: var(--lighter-blue);
}
a:hover {
    color: white;
}
a:active {
    color: var(--brand-blue);
}
hr {
    border-color: var(--brand-blue);
}
body {
    margin: 0px;
    color: white;
    background-color: var(--background-blue);
    font-family: ubuntu;
}
#topnav {
    background-color: var(--darker-blue);
    color: white;
    overflow: hidden;
    padding: 10px 15px;
    text-align: center;
}
#topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
}
#topnav a:hover {
    background-color: #ddd;
    color: black;
}
#topnav a.active {
    background-color: #4caf50;
    color: black;
}
#jumbotron {
    color: black;
    background-color: var(--background-blue);
    background: url("https://genericlinux.org/source/images/banner.webp");
    background-repeat: repeat;
    background-size: zoom;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
}
.disclaimer {
    color: white;
    background-color: var(--darker-blue);
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 15px;
}
.disclaimer a {
    color: var(--lighter-blue);
}
.disclaimer a:hover {
    color: white;
}
.disclaimer a:active {
    color: var(--brand-blue);
}
.content {
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    display: block;
}
.alert {
    background-color: var(--background-blue);
    color: white;
    padding: 7.5px;
    padding-top: 10px;
    border-radius: 6px;
}
.staff tr td {
    vertical-align: top;
    text-align: left;
    border: 2px solid #0277bd;
    padding: 0px;
}
.staff tr td h2 {
    margin: 0px;
    margin-bottom: 3px;
    color: #000a12;
    padding: 3px;
    background: var(--darker-blue);
}
.staff tr td p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pfp {
    margin-right: 6px;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background: #58a5f0;
    border: 2px solid #0277bd;
}
h1 {
    margin-left: -20px;
}
